{
  "tabWidth": 4,
  "useTabs": true,
  "printWidth": 80,
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
